.terminal-map {
    padding: 0 90px;
}

.terminal-map__panel {
    margin: 45px 0 20px;
    position: relative;
}

.terminal-map__filters {
    position: absolute;
    right: 0;
    bottom: 0;
}

.terminal-map__map {
    width: 100%;
    height: 570px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
    overflow: hidden;
}


.terminal-map__title {
    font-family: "MuseoSansBlack";
    font-weight: 900;
    font-size:  32px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.terminal-map__title--mobile {
    display: none;
    text-align: center;
    font-family: "MuseoSansBlack";
    font-weight: 900;
    margin: 10px 0 16px;
    font-size: 26px;
}

.terminal-cluster {
    font-family: 'MuseoSansRegular';
    color: #FFF;
}

.terminal-type-switcher {
    font-family: "MuseoSansLight";
    font-weight: 300;
    display: inline-block;
    margin-left: 65px;
}

.label-container {
    display: inline-block;
}

.terminal-icon {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.qiwi-terminal-icon {
    background-image: url('../assets/qiwi-terminal-icon.svg');
    height: 24px;
    width: 23px;
}

.partners-terminal-icon {
    background-image: url('../assets/partners-terminal-icon.svg');
    height: 16px;
    width: 24px;
}

.terminal-type {
    font-family: "MuseoSansBold";
    font-size: 14px;
    margin: 22px 0 0 30px;
}

.terminal-id {
    font-size: 14px;
    font-family: "MuseoSansLight";
    margin-left: 14px;
    color: #575757;
}

.terminal-adress {
    font-size: 19px;
    font-family: "MuseoSansLight";
    max-width: 260px;
    margin: 7px 10px 30px 30px;
}

.terminal-caption {
    margin: 0;
    font-family: "MuseoSansBold";
    font-size: 12px;
}

.terminal-type_bullet {
    color: #FF8C00;
    font-size: 26px;
    margin-right: 12px;
    vertical-align: sub;
}

.terminal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 1140px) {
    .terminal-map__filters {
        position: relative;
    }

    .terminal-type-switcher {
        margin: 18px 56px 0 0;
    }

    .terminal-map {
        padding: 0 30px;
    }
}

@media (max-width: 500px) {
    .terminal-map__map {
        height: 350px;
        border-radius: 0;
    }

    .terminal-map {
        padding: 0;
    }

    .terminal-icon {
        margin-right: 11px;
    }

    .terminal-map__title--mobile {
        display: block;

    }

    .terminal-map__title {
        display: none;
    }

    .terminal-map__filters {
        position: relative;
        margin: 0 16px 9px;
    }

    .terminal-type-switcher {
        position: relative;
        margin: 0 0 18px;
        width: 100%;
    }

    .terminal-type-switcher__label {
        position: relative;
        width: 100%;
        display: block;
    }

    .terminal-type {
        font-size: 13px;
        margin: 12px 0 0 12px;
    }

    .terminal-adress {
        font-size: 18px;
        max-width: 250px;
        margin: 7px 0 30px 12px;
    }

    .terminal-id {
        font-size: 13px;
        margin-left: 10px;
    }
}