.terminal-type {
    font-family: "MuseoSansBold";
    font-size: 14px;
    margin: 22px 0 0 30px;
}

.terminal-id {
    font-size: 14px;
    font-family: "MuseoSansLight";
    margin-left: 14px;
    color: #575757;
}

.terminal-adress {
    font-size: 19px;
    font-family: "MuseoSansLight";
    max-width: 260px;
    margin: 7px 10px 5px 30px;
}

.terminal-more {
    font-size: 14px;
    font-family: "MuseoSansLight";
    max-width: 260px;
    margin: 7px 10px 25px 30px;
}


.terminal-type_bullet {
    color: #FF8C00;
    font-size: 26px;
    margin-right: 12px;
    vertical-align: sub;
}

.terminal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.terminal-cluster {
    font-family: 'MuseoSansRegular';
    color: #FFF;
    text-align: center;
    width: 40px;
    margin: 0 auto;
}



@media (max-width: 500px) {

    .terminal-type {
        font-size: 13px;
        margin: 12px 0 0 12px;
    }

    .terminal-adress {
        font-size: 18px;
        max-width: 250px;
        margin: 7px 0 5px 12px;
    }

    .terminal-more {
        font-size: 13px;
        max-width: 250px;
        margin: 5px 0 25px 12px;
    }

    .terminal-id {
        font-size: 13px;
        margin-left: 10px;
    }
}