@font-face {
        font-family: 'MuseoSans';
        font-weight: 300;
        src: url('../../public/fonts/MuseoSans_300_normal.woff') format('woff');
 font-style: normal;
}

@font-face {
        font-family: 'MuseoSans';
        font-weight: 500;
        src: url('../../public/fonts/MuseoSans_500_normal.woff') format('woff');
        font-style: normal;
}

@font-face {
        font-family: 'MuseoSans';
        font-weight: 700;
        src: url('../../public/fonts/MuseoSans_700_normal.woff') format('woff');
        font-style: normal;
}

@font-face {
        font-family: 'MuseoSans';
        font-weight: 900;
        src: url('../../public/fonts/MuseoSans_900_normal.woff') format('woff');
        font-style: normal;
}
